<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Add</title>
</head>
<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <legend>Add user in base</legend>
    <div>
        <label for="name">Name</label>
        <input id="name" type="text" th:field="*{name}">
    </div>
    <div>
        <label for="surname">Surname</label>
        <input id="surname" type="text" th:field="*{surname}">
    </div>
    <div>
        <label for="age">Age</label>
        <input id="age" type="text" th:field="*{age}">
    </div>
    <div>
        <label for="gender">Gender</label>
        <p><input th:field="*{gender}" type="radio" value="M" id="gender">M</p>
        <p><input th:field="*{gender}" type="radio" value="W" >W</p>
    </div>
    <div>
        <input type="submit" value="Create">
    </div>
</form>
</body>
</html>